:root {
  /* COLORS */
  --green: rgb(36, 138, 61);
  --trans-green: rgba(36, 138,61, .15);
  --orange: rgb(255, 149, 0);
  --trans-orange: rgba(255, 149, 0, 0.15);
  --red: rgb(215, 0, 21);
  --hover-red: rgb(255, 59, 48);
  --active-red: rgb(255, 59, 48);
  --blue: rgb(0, 122, 255);
  --trans-blue: rgba(0, 122, 255, 0.1);
  --gray: rgb(174, 174, 178);
  --dark-gray: rgb(108, 108, 112);
}

.display {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  font-size: 0;
  font-family: 'Fira Code', monospace;
  text-align: center;
  border-radius: 30px;
}

.interval__part {
  font-size: 13vw;
  font-weight: 300;
}

.timer__part {
  font-size: 6vw;
  font-weight: 500;
}

.control {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  text-align: center;
}

button {
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Fira Sans', sans-serif;
  font-size: 3vw;
  font-weight: 400;
  text-align: center;
}

button:hover {
  background-color: aliceblue;
}

button:active {
  background-color: #d2d2d2;
}

.control button {
  width: 10em;
  height: 2.5em;
  border-style: none;
}

.timer__btn--start {
  background-color: var(--trans-green);
  color: var(--green);
}

.timer__btn--pause {
  background-color: var(--trans-orange);
  color: var(--orange);
}

.timer__btn--clear {
  background-color: var(--red);
  color: white;
}

.timer__btn--clear:hover {
  background-color: var(--hover-red);
}

.timer__btn--clear:active {
  background-color: var(--red);
}

.input__btn--add {
  width: 5em;
  height: 2.5em;
  border-style: none;
  background-color: var(--gray);
  color: var(--dark-gray);
}

.input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 0;
  text-align: center;
  padding: 24px 32px;
  border-radius: 30px;
  background-color: var(--trans-blue);
}

.input:hover {
  cursor: pointer;
}

.interval__digit {
  font-size: 5vw;
}

.interval__digit--unset {
  color: var(--gray);
}

.digit__unit {
  padding-left: 1vw;
  padding-right: 2vw;
  font-size: 3.5vw;
}

.digit__unit--unset {
  color: var(--gray);
}

.caret {
  font-size: 5vw;
  color: var(--blue);
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

.instructions {
  display: block;
  font-size: 2vw;
  font-weight: 300;
  font-style: italic;
}