:root {
  /* COLORS */
  --green: rgb(36, 138, 61);
  --trans-green: rgba(52, 199, 89, .25);
  --hover-green: rgba(48, 219, 91, .20);
  --active-green: rgba(36, 138, 61, .25);
  --orange: rgb(255, 149, 0);
  --trans-orange: rgba(255, 149, 0, 0.15);
  --hover-orange: rgba(255, 179, 64, 0.15);
  --active-orange: rgb(255, 149, 0, .25);
  --purple: rgb(137, 68, 171);
  --hover-purple: rgb(175, 82, 222);
  --active-purple: rgb(191, 90, 242);
  --red: rgb(215, 0, 21);
  --hover-red: rgb(255, 105, 97);
  --active-red: rgb(255, 59, 48);
  --blue: rgb(0, 122, 255);
  --hover-blue: rgb(100, 210, 255);
  --active-blue: rgb(64, 156, 255);
  --trans-blue: rgba(0, 122, 255, 0.1);
  --gray: rgb(174, 174, 178);
  --dark-gray: rgb(108, 108, 112);
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100vw;
  min-height: 100vh;
}

.input {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: .5rem 0 1rem;
  background-color: var(--trans-blue);
}

.input:hover {
  cursor: pointer;
}

.instructions--input {
  display: block;
}

.instructions--input-disabled {
  visibility: hidden;
}

.input__box {
  text-align: center;
  width: max-content;
  font-family: 'Fira Code', monospace;
  font-weight: 300;
  font-size: 4rem;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  caret-color: var(--blue);
}

.input__box-disabled {
  color: var(--gray);
}

.input__box:focus {
  outline: none;
}

.input__btn--add {
  width: 32rem;
  max-width: 80vw;
  height: 1.5em;
  padding: 0.25rem 0;
  border-style: none;
  background-color: var(--blue);
  color: white;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

.input__btn--add:hover {
  background-color: var(--hover-blue);
}

.input__btn--add:active {
  background-color: var(--active-blue);
}

.display {
  flex-grow: 1;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Fira Code', monospace;
  font-size: 0;
  text-align: center;
}

.interval__part {
  font-size: 10rem;
  font-weight: 300;
}

.timer__part {
  font-size: 5.75rem;
  font-weight: 400;
}

.control {
  text-align: center;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

button {
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Fira Sans', sans-serif;
}

.timer__btn {
  font-size: 3rem;
  width: 7.5em;
  height: 2.5em;
  border-style: none;
}

.timer__btn--start {
  background-color: var(--trans-green);
  color: var(--green);
}

.timer__btn--start:hover {
  background-color: var(--hover-green);
}

.timer__btn--start:active {
  background-color: var(--active-green);
}

.timer__btn--pause {
  background-color: var(--trans-orange);
  color: var(--orange);
}

.timer__btn--pause:hover {
  background-color: var(--hover-orange);
}

.timer__btn--pause:active {
  background-color: var(--active-orange);
}

.timer__btn--undo {
  background-color: var(--purple);
  color: white;
}

.timer__btn--undo:hover {
  background-color: var(--hover-purple);
}

.timer__btn--undo:active {
  background-color: var(--active-purple);
}

.timer__btn--clear {
  background-color: var(--red);
  color: white;
}

.timer__btn--clear:hover {
  background-color: var(--hover-red);
}

.timer__btn--clear:active {
  background-color: var(--active-red);
}

.btn--disabled, .btn--disabled:active, .btn--disabled:hover {
  background-color: var(--gray);
  color: var(--dark-gray);
}

.instructions {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: .5rem;
  height: auto;
  margin: 0 1rem 1rem;
  font-family: 'Fira Sans', sans-serif;
}

.site_link {
  text-decoration: none;
  color: var(--blue);
  font-size: 1.25rem;
}

.site_link:hover {
  color: var(--hover-blue);
}

.site_link:active {
  color: var(--active-blue);
}

@media (max-width: 768px) {
  .input__box {
    font-size: 8vw;
  }

  .interval__part {
    font-size: 20vw;
    font-weight: 300;
  }
  
  .timer__part {
    font-size: 12vw;
  }
  
  .control {
    flex-direction: column-reverse;
  }

  .timer__btn {
    height: 2em;
    width: 80vw;
  }
}

@media (max-width: 430px) {
  .timer__btn,
  .input__btn--add {
    font-size: 2rem;
  }

  .instructions {
    font-size: 1rem;
  }
}